@import "tailwindcss";
li::after {
  content: "";
  display: flex;
  width: 0;
  height: 2px;
  background-color: #4a5565;
  border-radius: 50%;
}
li:hover::after {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
button {
  cursor: pointer;
  outline: none;
}
button:disabled{
  cursor: not-allowed;
}

@keyframes loader-progress {
  from {
    stroke-dashoffset: var(--circle-length);
  }
  to {
    stroke-dashoffset: var(--progress-offset);
  }
}